.myProjectsBlock {

  padding-bottom: 30px;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    z-index: 10;


    .projects {
      margin-top: 30px;
      width: 100%;
      @media all and (max-width: 1050px) {
        flex-direction: row;
        //overflow: auto;
        padding: 0 40px 40px 40px;
      }
    }

  }

}