.header {
    height: 50px;
    /*background-color: #7ca6cb;*/
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--color-main);
    z-index: 7;

    .container{
        justify-content: right;
    }
}