@import '../../styles/mixins';

.projectBlock {
  grid-gap: 50px;
  align-items: center;
  -webkit-column-gap: 50px;
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  position: relative;
  row-gap: 50px;
  z-index: 1;
  margin-bottom: 20px;


  .imgBlock {
    @include flex(column, center);
    @include gap(20px);
    border-radius: 20px;
    position: relative;
    min-width: 320px;
    max-width: 400px;
    box-shadow: 20px 20px 0 0 rgba(42, 42, 42, 0.33), inset -20px -20px 100px 1px var(--color-custom);

    .img {
      z-index: -1;
    }

    .image {
      object-fit: cover;
      width: 100%;
      height: 200px;
      border-radius: 20px;
    }

    &:hover {
      .shadow {
        opacity: 1;
      }
    }


    .shadow {
      @include flex(row, center);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba(30, 30, 30, 0.84);
      border-radius: inherit;
      opacity: 0;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      transition: 0.5s;
    }

    @media all and (max-width: 1050px) {
      max-width: 100%;
    }

    @media all and (max-width: 900px) {
      display: block;
    }


  }

  .textBlock {
    padding: 10px 0;
    text-align: left;
  }

  .title {
    line-height: 30px;
    font-weight: 600;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .description {
    font-weight: 400;
    color: #9f9f9f;
    font-size: 14px;
    margin-bottom: 7px;
  }


  @media all and (max-width: 1050px) {

    //display: block;
    flex-direction: column!important;
    text-align: center;
    gap: 20px;

  }
}


///* Настройки маркированного списка */
//
//.hoverEffect{
//  list-style:none;
//  margin: 0 auto;
//  width: 100%;
//  text-align: center;
//  padding: 0;
//
//}
//
//.hoverEffect li {
//  position: relative;
//  display: inline-block;
//  //background-color: #fff;
//  margin: 0;
//  //border: 5px solid #fff;
//  box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
//  overflow: hidden;
//  border-radius: 15px;
//  opacity: 0.9;
//
//}
///* Заголовок, текст и ссылка */
//.hoverEffect li h4{
//  color: #fff;
//  margin: 5px;
//  border-radius: 15px;
//
//}
//.hoverEffect li p{
//  color: #9f9f9f;
//  margin: 10px;
//  border-radius: 15px;
//
//}
//.hoverEffect li .btn {
//  //display: block;
//  //text-decoration: none;
//  //padding: 15px;
//  //color: #fff;
//  //background: #000;
//  //border-radius: 5px;
//  margin: 0 auto;
//  width: 160px;
//
//  transition: all 0.1s ease-in-out;
//}
////.hoverEffect li a:hover {
////  background: #454545;
////  color: #fff;
////}
///* Выезжающий блок с текстом */
//.hoverEffect li > div {
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//
//}
//.hoverEffect li:hover > div {
//  position: absolute;
//  overflow: hidden;
//  top: 0;
//  left: 0;
//}
//.hoverEffect li div {
//  //opacity: 0;
//  //background-color: rgba(0, 0, 0, 0.35); /* Фон блока при наведении */
//  transition: all 0.1s ease-in-out;
//  color: #fff;
//}
//.hoverEffect li img {
//
//  transition: all 0.2s linear;
//}
//.hoverEffect li:hover img {
//  //-webkit-filter: blur(1px);
//  //-moz-filter: blur(1px);
//  //-o-filter: blur(1px);
//  //-ms-filter: blur(1px);
//  //filter: blur(1px);
//  border-radius: 15px;
//
//  opacity: 0.2;
//  transform: scale(1.2);
//}
//.hoverEffect li:hover div {
//  opacity: 1;
//}
