@import '../styles/mixins';

.mainBlock {
  position: relative;
  height: calc(100vh - 50px);
  background-color: var(--color-main);
  padding-top: 20px;

  .container {
    justify-content: center;

    .contentBlock{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1500px;
      height: 400px;
      z-index: 5;

    }
  }
}

.text {
  color: #9f9f9f;
  width: 500px;
  margin-left: 45px;


  .title {
    margin-bottom: 5px;
  }

  .name {

    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 1px dashed hsla(0, 0%, 100%, .15);

    span {
      color: var(--color-custom);
      font-weight: 600;

    }
  }

  .aboutMe {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

}


.photoBlock {
  //position: absolute;

  margin: auto;
  background-color: #000;
  //display: flex;
  //height: 60%;
  //width: 50%;
  width: 250px;
  border-radius: 10%;



  .photo {
    display: block;
    margin: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 5%;

    //max-height: 100%;
  }

}


.socialMedia {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  content: '';
  right: 30px;
  bottom: 100px;
  z-index: 6;




  .icon {
    color: var(--color-custom);
    display: block;
    transition: 0.3s;
    &:hover {
      transform: scale(1.3)
    }
  }

  .politicks {
    color: #2a2a2a;
  }

  .socialMediaBlock {
    text-align: center;
    margin: 0 5px;
    border-radius: 10px;
  }

  .socialMediaBlock a {
    display: inline-block;
    cursor: pointer;
    color: #3b3b49;
  }


}


.buttons {
  display: flex;

}

.btnCV {
  margin-right: 25px;
  & a {
    color: white;
  }
}


