@import '../styles/mixins';

.mainBlock {
  position: relative;
  height: calc(100vh - 50px);
  background-color: var(--color-main);
  padding-top: 20px;

  .container {
    justify-content: center;

    .contentBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1500px;
      height: 400px;
      z-index: 5;
    }
  }
}

.content{
  display: flex;
}

@media screen and (max-width: 850px) {
  .content {
    display: block;
  }
}

.text {
  color: #9f9f9f;
  max-width: 500px;
  margin-left: 45px;
  padding: 10px;


  .titleBlock {
    border-bottom: 1px dashed hsla(0, 0%, 100%, .15);
    margin-bottom: 20px;

    .name {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0;
      font-weight: 600;
      margin-bottom: 15px;

      span {
        color: var(--color-custom);
        font-weight: 600;
      }
    }

    .title {
      margin-bottom: 20px;
      font-size: 18px;

      overflow: hidden;
      white-space: nowrap;
      animation: typewriter 3.5s steps(15) infinite alternate,
      blink 800ms steps(15) infinite normal;
      border-right: 3px solid black;

      span {
        color: #f0f0f0;
      }

      @keyframes typewriter {
        0% {
          width: 0;
        }
        20% {
          width: 0;
        }
        70% {
          width: 37%;
        }
        70% {
          width: 37%;
        }
        100% {
          width: 37%;
        }
      }
      @keyframes blink {
        from {
          border-color: var(--color-custom);
        }
        to {
          border-color: transparent;
        }
      }

    }
  }


  .aboutMe {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

}


.photoBlock {
  margin: auto;
  background-color: #000;
  width: 250px;
  border-radius: 10%;


  .photo {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 5%;
  }

}


.socialMedia {
  position: absolute;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //flex-direction: column;
  content: '';
  right: 30px;
  bottom: 100px;
  z-index: 6;


  .icon {
    color: var(--color-custom);
    display: block;
    transition: 0.3s;

    &:hover {
      transform: scale(1.3)
    }
  }

  .politicks {
    color: #2a2a2a;
  }

  .socialMediaBlock {
    text-align: center;
    margin: 0 5px;
    border-radius: 10px;
  }

  .socialMediaBlock a {
    display: inline-block;
    cursor: pointer;
    color: #3b3b49;
  }
}


@media screen and (max-width: 850px) {
  .socialMediaWrapper{
    display: inline-block;
  }

  .socialMedia {
    position: absolute;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //flex-direction: column;
    content: '';
    right:calc(50% - 94px);
    bottom: 10px;
    z-index: 6;
  }
}


.buttons {
  display: flex;

}

.btnCV {
  margin-right: 25px;

  & a {
    color: white;
  }
}


