.btn {
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: #fff;
    padding: 10px 26px;
    border-radius: 30px;
    font-size: 14px;
    background-color: #009e66;
    border: 1px solid #009e66;
}
.btn:hover {
    background-color: #008052;
    border: 1px solid transparent;
}