
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

::selection {
    color: white;
    background: var(--color-custom); /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: white;
    background: var(--color-custom); /* Gecko Browsers */
}

a {
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    color: #9f9f9f;
}
ul,li {
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}


h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #f0f0f0;
    margin-top: 0;
    font-size: 1.5rem;
}
input, textarea {
    border: none;
    padding: 9px 14px
}
input, textarea:focus{
    outline: none;
}

:root {
    --color-main: #111;
    --color-custom: #32a632;
    --color-block: #161616;
}

body {
    background-color: var(--color-main);
    overflow-y: hidden;
}

code {

}
