a {
   text-decoration: none;
    padding-right: 5px;

}

.nav {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    /*margin-right: 5px;*/
    margin: 0 auto;
    z-index: 8;
    padding-top: 30px;
}

.link{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;

}

.link:hover{
    color: var(--color-custom);
}


.active {
    color: var(--color-custom);
}